<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_DelhiveryShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="delhivery" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Webkul Delhivery Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Title</label>
                </field>
                <field id="method_title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Method Title</label>
                </field>
                <field id="delhivery_logo" translate="label" type="image" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delhivery logo</label>
                    <comment>Allowed file types: jpg, jpeg, gif, png</comment>
                    <!-- backend model which save uploaded  file on define location -->
                    <backend_model>Webkul\DelhiveryShipping\Model\Savelogo</backend_model>
                    <base_url type="media" scope_info="1">delhivery/logo</base_url>
                </field>
                <field id="name" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Client Name</label>
                </field>
                <field id="clientid" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Client Id</label>
                </field>
                <field id="licensekey" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>License Key</label>
                </field>
                <field id="pickup" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Pick Up/Warehouse</label>
                </field>
                <field id="gateway_url" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Gateway URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
