<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_save_before">
        <observer name="status_customer_address_model_save_before" instance="Redstage\CustomerSync\Observer\Customer\ModelSaveBefore"/>
    </event>
    <event name="customer_save_before">
        <observer name="status_customer_model_save_before" instance="Redstage\CustomerSync\Observer\Customer\ModelSaveBefore"/>
    </event>
    <event name="sales_order_place_before">
        <observer name="order_place_before" instance="Redstage\CustomerSync\Observer\Customer\OrderPlaceBefore"/>
    </event>
</config>