<?xml version="1.0"?>
<!--
/**
 * Redstage catalog module.
 *
 * @category: PHP
 * @package: Redstage/Base
 * @copyright: Copyright © 2019 Magento, Inc. All rights reserved.
 * @author: Ajay<abava@redstage.com>
 * @project: Legrand & Numeric
 * @keywords: Module Redstage_Catalog
 */

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Redstage_Catalog" setup_version="2.0.1" />
    <sequence>
        <module name="Magento_Catalog"/>
    </sequence>
</config>
