<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_DelhiveryShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_DelhiveryShipping::delhivery" title="Webkul Delhivery Shipping" sortOrder="39">
                    <resource id="Webkul_DelhiveryShipping::managepincode" title="Manage Pincode" sortOrder="40" />
                    <resource id="Webkul_DelhiveryShipping::manageawb" title="Manage AWB" sortOrder="41" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>