<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_DelhiveryShipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <delhivery>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <method_title>Webkul Delhivery Shipping</method_title>
                <model>Webkul\DelhiveryShipping\Model\Carrier</model>
                <title>Webkul Delhivery Shipping</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <gateway_url>http://track.delhivery.com/</gateway_url>
            </delhivery>
        </carriers>
    </default>
</config>