<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="redstage_customsms_observer_new_order" instance="Redstage\Customsms\Observer\NewOrder"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="redstage_customsms_observer_order_cancelled" instance="Redstage\Customsms\Observer\OrderCancelled"/>
        <observer name="redstage_customsms_observer_order_hold" instance="Redstage\Customsms\Observer\OrderHold"/>
        <observer name="redstage_customsms_observer_order_un_hold" instance="Redstage\Customsms\Observer\OrderUnHold"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="redstage_customsms_observer_invoice_pay" instance="Redstage\Customsms\Observer\InvoicePay"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="redstage_customsms_observer_creditmemo_pay" instance="Redstage\Customsms\Observer\CreditmemoPay"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="redstage_customsms_observer_shipment_pay" instance="Redstage\Customsms\Observer\Shipment"/>
    </event>
    <event name="customer_register_success">
        <observer name="redstage_customsms_observer_register_success" instance="Redstage\Customsms\Observer\Registration"/>
    </event>
</config>