<?xml version="1.0"?>
<!--
/**
 * Redstage OrderInstallation module purpose admin user can export order data predifined CSV only shipment created order data.
 *
 * @package: Redstage/OrderInstallation
 * @copyright: Copyright © 2019 Magento, Inc. All rights reserved.
 * @author: Mohit Tyagi <mtyagi@redstage.com>
 * @project: Legrand & Numeric
 * @keywords: Module Redstage_OrderInstallation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" sortOrder="20">
                    <resource id="Redstage_OrderInstallation::orderinstallation" title="Order Installation" sortOrder="35"/>
                    <resource id="Redstage_OrderInstallation::orderexport" title="Export Order Data" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
