<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Redstage_SalesReport::salesreport" title="Sales Report" translate="title" module="Redstage_SalesReport" sortOrder="40"
             action="salesreport/report" resource="Redstage_SalesReport::salesreport" parent="Redstage_Base::main_menu"/>
    </menu>
</config>
