<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Redstage_Contact::contact" title="Contact Log" translate="title" module="Redstage_Contact" sortOrder="40"
             action="contact/log" resource="Redstage_Contact::contact" parent="Redstage_Base::main_menu"/>
    </menu>
</config>
