<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Redstage_OrderExport::orderexport" title="Order Export" translate="title" module="Redstage_OrderExport" sortOrder="30"
             action="orderexport/export" resource="Redstage_OrderExport::orderexport" parent="Redstage_Base::main_menu"/>
    </menu>
</config>
