<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Redstage_Base::main_menu" title="Redstage" sortOrder="100">
                    <resource id="Redstage_OrderExport::orderexport" title="Order Export" translate="title" sortOrder="200">
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
